.week {
  border: 1px solid pink;
}

.week-name {
  text-align: center;
  text-decoration: underline;
}

.group-name {
  text-align: center;
  font-weight: bold;
}

.group-list {
  list-style: none;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  min-height: 202px;
}
.student-name {
  border: 1px dashed red;
}
